.container {
    max-width: 100rem;
    margin: auto;
    h1 {
        margin-bottom: 3rem;
        padding-top: 3rem ;
    }
    h2 {
        margin-bottom: 3rem;
    }
    .search {
        width: 60%;
        height: 5.4rem;
        color: rgb(102, 98, 98);
        margin-bottom: 3rem;;
    }
}

